.projects{
    & .roninlogo, .notalogo, .silverlogo, .savime_logo, .slickk_logo{
      margin: 50px;
      cursor: pointer;
      max-width: 250px;
      transition: 0.5s;
      &:hover{
        opacity: 0.5;
      }
    }
    & .projects_columns{
      margin: 0 0 30px 0;
    }
  }
  
    .notacine, .ronincode, .silverfish{
      max-width: 100%;
    }
  
    .project_description{
      min-height: 300px;
    }
  
  .project_title{
    margin-top: 50px;
    font-size: 2rem;
    font-family: 'Poppins Black';
  }
  
  @media only screen and (max-width: 600px){
    .projects{
      & .roninlogo, .notalogo, .silverlogo{
        max-width: 200px;
      }
  
      & .projects_columns{
        margin: 0;
      }
    }
  }
  