body {
  background-color: #000;
  color: #fff;
  margin: 0;
  height: 100vh;
  cursor: crosshair;
  font-family: Arial, Helvetica, sans-serif;
}

/* Init spacing */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

nav > h1 {
  display: flex;
  padding: 8px;
  align-items: center;
  font-size: 30px;
}

nav > ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  align-items: center;
}
nav > ul > li {
  padding: 8px;
  text-transform: uppercase;
  font-size: 20px;
}

nav > ul > li > a {
  align-content: center;
  display: flex;
}

nav > ul > li > a:hover {
  opacity: 0.4;
  transition: 1s;
}

nav > ul > li > a > img {
  width: 25px;
  height: 25px;
}

/* Main */
main {
  width: 600px;
  margin: 100px auto 0 auto;
  font-size: 18px;
}

h2 {
  color: #999;
  text-decoration: underline;
  font-weight: lighter;
  padding-bottom: 10px;
}

/* Description */
#description {
  margin-top: 20px;
}
#description > p {
  margin: 10px 0;
}

/* Experiencies */
#experiencies {
  padding-bottom: 10px;
}

#experiencies > div > details > summary {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Skills */
#skills > div {
  display: flex;
}

#skills > div > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* CV */
#curriculum_vitae {
  padding: 20px 0;
}

#curriculum_vitae > a {
  color: #999;
  background-color: #000;
  border-radius: 5px;
  padding: 5px 10px;
}

#curriculum_vitae > a:hover {
  margin-left: 10px;
  transition: 0.6s;
  background-color: #151515;
  color: #fff;
}

/* Footer */
footer {
  margin: 0 auto;
  width: 600px;
}

footer > p {
  font-size: 15px;
  opacity: 0.6;
}

/* Projects Page */
#title_projects {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#projects {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 2fr 2fr;
  gap: 10px 10px;
  padding: 0;
}

#projects li {
  list-style-type: none;
}

#projects li button {
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #fff;
  height: 80px;
  background-color: #000;
  transition: 1s;
  opacity: 0.6;
  border-radius: 2px;
  padding: 10px 15px;
  text-align: start;
  align-items: center;
  overflow: hidden;
  display: flex;
}

#projects li button .logo_title {
  display: flex;
}

#projects li button:hover {
  background-color: #151515;
  opacity: 1;
}

#projects li button img {
  height: 65px;
  width: 65px;
  margin-right: 10px;
}

#projects .description {
  display: none;
}

#open {
  height: 300px !important;
  align-items: flex-start !important;
  display: block !important;
  background-color: #151515 !important;
  opacity: 1 !important;
}

#open .description {
  display: block;
}

/* Responsive */
@media only screen and (max-width: 500px) {
  main {
    width: 300px !important;
    margin: 50px auto 10px auto !important;
    font-size: 16px;
  }

  footer {
    width: 300px !important;
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 400px;
    margin: 175px auto 175px auto;
    font-size: 17px;
  }

  footer {
    width: 400px !important;
  }

  #projects {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr;
    gap: 10px 10px;
    padding: 0;
  }
}
