.education {

  .formation,
  .expertise_list {
    border-left: solid 2px #fff;
    margin-left: 150px;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;

    & li {
      list-style: none;
      margin: 10px 0;
    }

    & .date {
      font-family: 'Poppins Semibold', Impact, Arial;
      padding-top: 10px;
      margin-left: -45px;
      margin-bottom: 20px;
      background-color: #000;
    }

    & .logo_thp {
      height: 50px;
    }

    & .logo_3w {
      width: 65px;
    }

    & .__with {
      display: flex-inline;

      span {
        font-size: 30px;
      }

      padding: 0 40px;
    }

    & .logo_slickk {
      width: 150px;
      margin-bottom: 20px;
    }

    & ul {
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 600px) {

    .formation,
    .expertise_list {
      margin-left: 50px;

      & .logo_3w {
        margin-right: 20px;
      }

      & .__with {
        display: none;
      }
    }
  }
}