.contact{
  & .logo_contact{
    width: 60px;
    filter: invert(95%) sepia(0%) saturate(19%) hue-rotate(347deg) brightness(105%) contrast(106%);
  }

  & .contact_columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px){
  .contact{
    & .logo_contact{
      width: 50px;
    }

    & .contact_columns{
      display: block;
      & div{
        margin-bottom: 50px;
      }
    }
  }
}
