@import "colors.scss";
@import "photo.scss";
@import "projects.scss";
@import "contact.scss";
@import "anchors.scss";
@import "navbar.scss";
@import "social.scss";
@import "skills.scss";

@font-face {
  font-family: 'Acherus Grotesque';
  src: url('../assets/fonts/acherus-grotesque.woff');
}

@font-face {
  font-family: 'Poppins Black';
  src: url('../assets/fonts/poppins-black.ttf');
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('../assets/fonts/poppins-semibold.ttf');
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  font-family: 'Acherus Grotesque', Helvetica, Arial, sans-serif;
  color: $color-white;
  background-color: $color-black;
  text-align: center;
  font-size: 1.1rem;
  cursor: crosshair;
}

a{
  color: $color-white;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.bold{
  font-weight: bold;
}

.btn-download{
  font-family: 'Poppins Semibold', Impact, Arial;
  text-decoration: none;
  color: $color-white;
  border: solid 1px $color-white;
  padding: 8px;
  box-shadow: 5px 5px $color-white;
  transition: 0.3s;
  margin-right: 5px;

  &:hover{
    margin-right: 2px;
    box-shadow: 3px 3px $color-white;
  }
  &:focus{
    margin-right: 0;
    box-shadow: 1px 1px $color-white;
  }
}

.title{
  font-family: 'Poppins Semibold', Impact, Arial;
  position: absolute;
  font-size: 2rem;
  padding-left: 20px;

  &.shadow{
    background: rgb(232,185,254);
    background: -moz-linear-gradient(180deg, rgba(232,185,254,1) 30%, rgba(60,65,165,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(232,185,254,1) 30%, rgba(60,65,165,1) 100%);
    background: linear-gradient(180deg, rgba(232,185,254,1) 30%, rgba(60,65,165,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8b9fe",endColorstr="#3c41a5",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-left: -5px;
    padding-top: 2px;
  }
}

.title-container{
  width: 100%;
  height: 100px;
}

.formation, .expertise-list{
  border-left: solid 2px $color-white;
  margin-left: 150px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 15px;
  & li{
    list-style: none;
    margin: 10px 0;
  }
  & .date{
    font-family: 'Poppins Semibold', Impact, Arial;
    padding-top: 10px;
    margin-left: -45px;
    margin-bottom: 20px;
    background-color: $color-black;
  }
  & .logo-thp{
    height: 50px;
  }
  & .logo-3w{
    width: 65px;
  }
  & ul{
    margin-bottom: 30px;
  }
}

.about{
  margin-bottom: 20px;
  margin-top: 20px;
  & p{
    margin: 80px 50px;
  }
}

.previous{
  width: 50px;
  margin-top: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(332deg) brightness(104%) contrast(103%);
  display: flex;
  align-items: flex-start;
}

footer{
  padding: 100px 100px 10px 100px;
  & span{
    color: $color-red;
    font-size: 1.2rem;
  }

  & div{
    border-top: solid 1px $color-white;
    margin: 0 auto 25px auto;
    width: 150px;
  }
}

.error{
  margin: 15% 15%;
}


@media only screen and (max-width: 600px){
	.about{
    & p{
      margin: 0;
    }
  }

  .formation, .expertise-list{
    margin-left: 50px;
  }

  footer{
    padding: 50px 0 10px 0;
  }
}
