@import "colors.scss";

@font-face {
  font-family: 'Acherus Grotesque';
  src: url('../assets/fonts/acherus-grotesque.woff');
}

@font-face {
  font-family: 'Poppins Black';
  src: url('../assets/fonts/poppins-black.ttf');
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('../assets/fonts/poppins-semibold.ttf');
}

html{
  scroll-behavior: smooth;
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari & Opéra */
  -ms-user-select: none; /* Internet & Edge */
  user-select: none; /* Standard */
}

body{
  font-family: 'Acherus Grotesque';
  color: $color-white;
  margin: 0;
  padding: 0;
  background-color: $color-black;
  text-align: center;
  font-size: 1.1rem;
  cursor: crosshair;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

//#### TOOLS ####
.bold{
  font-weight: bold;
}

.title{
  font-family: 'Poppins Semibold';
  position: absolute;
  font-size: 2rem;
  padding-left: 20px;

  &.shadow{
    background: -webkit-linear-gradient($light-pink, $blue-lavender);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-left: -5px;
    padding-top: 2px;
  }
}

.title-container{
  width: 100%;
  height: 100px;
}
//###############

//#### Social ####
.social{
  border: solid indigo 1px;
}

footer{
  border: solid blue 1px;
}

.logo {
  width: 45px;
  margin-right: 5px;
  filter: invert(91%) sepia(10%) saturate(191%) hue-rotate(169deg) brightness(93%) contrast(87%);
  transition: 0.5s;

  &.linkedin:hover{
    filter: invert(24%) sepia(78%) saturate(2189%) hue-rotate(197deg) brightness(95%) contrast(92%);
  }

  &.twitter:hover{
    filter: invert(74%) sepia(76%) saturate(5194%) hue-rotate(179deg) brightness(93%) contrast(104%);
  }

  &.codepen:hover{
    filter: invert(55%) sepia(4%) saturate(48%) hue-rotate(75deg) brightness(91%) contrast(74%);
  }

  &.github:hover{
    filter: invert(25%) sepia(24%) saturate(5961%) hue-rotate(226deg) brightness(81%) contrast(85%);
  }
}

//#### Navbar ####
.navbar{
  border: solid fuchsia 1px;
  font-family: 'Poppins Black';
  font-size: 1.5rem;
  padding: 30px 0px 30px 100px;
  text-align: left;
}

.note{
  font-family: 'Acherus Grotesque';
  font-size: 0.8rem;
  position: absolute;
  top: 102px;
  left: 225px;
}

.name{
  position: absolute;
  &.front-name{
    color: $color-black;
    -webkit-text-stroke: 2px $color-white;
    font-size: 2.33rem;
    margin-left: 5px;
    padding-bottom: 1px;
  }
}

.anchors{
  display: flex;
  justify-content: flex-end;
  & a{
    color: $color-white;
    text-decoration: none;
    padding: 10px;
    margin: 6px;
    border: dashed 2px $color-white;
  }
  & a:hover{
    border: solid 2px $color-white;
  }
}

//#### Photo ####
.photo{
  border: solid aquamarine 1px;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.photo:hover .me, .photo:hover .background{
  &.me{
    transform: translateY(30px) scale(1.3);
    transform-origin: 30% bottom;
    clip-path: circle(55.23% at 44.38% 48.27%);
  }

  &.background{
    transform: scale(1.2)
  }
}

.me{
  width: 200px;
  transition: 0.5s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  clip-path: circle(57.84% at 49.00% 47.35%);
}

.background{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  transition: 0.4s;
}

//#### Projets ####
.projects{
  border: solid deeppink 1px;
}

.projects-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.roninlogo, .notalogo{
  width: 100px;
}

.notacine, .ronincode{
  width: 600px;
}


//#### Compétences ####
.skills{
  border: solid orange 1px;
}

.technos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.techno-logo{
  width: 80px;
  height: 80px;
  filter: invert(91%) sepia(10%) saturate(191%) hue-rotate(169deg) brightness(93%) contrast(87%);
  width: 100%;
}

//#### A propos ####
.about{
  border: solid darkorchid 1px;
  & p{
    margin: 30px;
  }
}

//#### Speech ####
.speech{
  border: solid green 1px;
}

//#### Savoir-faire ####
.expertise{
  border: solid yellow 1px;
}

//#### CONTACT ####
.contact{
  border: solid red 1px;
}

.logo-contact{
  width: 80px;
  filter: invert(95%) sepia(0%) saturate(19%) hue-rotate(347deg) brightness(105%) contrast(106%);
}

.contact-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//#### FOOTER ####

footer{

}
