.photo{
  display: flex;
  height: 450px;
  justify-content: center;
  align-items: center;

  & .me{
    width: 300px;
    transition: 0.5s;
    border-radius: 50%;
    position: absolute;
  }

  & .me-transparent{
    width: 300px;
    transition: 0.5s;
    border-radius: 0 0 50% 50%;
    position: absolute;
  }
  
  &:hover{
    & .me{
      opacity: 0.8;
    }

    & .me-transparent{
      width: 350px;
    }
  }
}