.projects{
  & .roninlogo, .notalogo, .silverlogo{
    margin: 50px;
    cursor: pointer;
    max-width: 250px;
    transition: 0.5s;
    &:hover{
      opacity: 0.5;
    }
  }
  & .projects-columns{
    margin: 50px 0px 50px 0px;
  }
}

  .notacine, .ronincode, .silverfish{
    max-width: 100%;
  }

  .project-description{
    min-height: 300px;
  }

.project-title{
  margin-top: 50px;
  font-size: 2rem;
  font-family: 'Poppins Black';
}

@media only screen and (max-width: 600px){
  .projects{
    & .roninlogo, .notalogo, .silverlogo{
      max-width: 200px;
    }

    & .projects-columns{
      margin: 0;
    }
  }
}
