.footer {
    padding: 100px 100px 10px 100px;

    & span {
        color: #ff0000;
        font-size: 1.2rem;
    }

    hr {
        border-top: solid 1px #fff;
        margin: 0 auto 25px auto;
        width: 150px;
    }
}